<div class="contact-container">
  <p class="sub-title">Contacto</p>
  <div class="icons">
    <a class="link" href="https://github.com/Rosymer96"
      ><i class="fa-brands fa-github icon"></i>
      <p>https://github.com/Rosymer96</p></a
    >
    <a class="link" href="https://www.linkedin.com/in/rosa-vela-valqui96/">
      <i class="fa-brands fa-linkedin icon"></i>
      <p>https://www.linkedin.com/in/rosa-vela96/</p>
    </a>
    <a class="link" href="mailto:rosymer96@gmail.com">
      <i class="fa-solid fa-envelope icon"></i>
      <p>rosymer96&#64;gmail.com</p>
    </a>
  </div>
</div>
