<div class="contact-container">
  <div class="contact-header">
    <p class="sub-title">Contacto</p>

    <div class="email-row">
      <p class="email-text">rosymer96&#64;gmail.com</p>
      <button type="button" class="copy-button" (click)="copyEmail()">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
  </div>

  <p class="copied-message" [class.visible]="copied">copiado</p>

  <form
    class="contact-form"
    [formGroup]="contactForm"
    (ngSubmit)="submitForm()"
    novalidate
  >
    <input type="hidden" name="_captcha" value="false" />
    <input type="hidden" name="_template" value="table" />
    <input
      type="hidden"
      name="_subject"
      value="Nuevo mensaje desde el portafolio"
    />

    <label>
      <span>Nombre de la empresa</span>
      <input type="text" formControlName="company" placeholder="Tu empresa" />
      <small
        *ngIf="
          contactForm.get('company')?.touched &&
          contactForm.get('company')?.hasError('required')
        "
      >
        Este campo es obligatorio.
      </small>
    </label>

    <label>
      <span>Persona de contacto</span>
      <input
        type="text"
        formControlName="contactPerson"
        placeholder="Nombre completo"
      />
      <small
        *ngIf="
          contactForm.get('contactPerson')?.touched &&
          contactForm.get('contactPerson')?.hasError('required')
        "
      >
        Este campo es obligatorio.
      </small>
    </label>

    <label>
      <span>Correo electrónico</span>
      <input
        type="email"
        formControlName="email"
        placeholder="correo@empresa.com"
      />
      <small
        *ngIf="
          contactForm.get('email')?.touched &&
          contactForm.get('email')?.hasError('required')
        "
      >
        Este campo es obligatorio.
      </small>
      <small
        *ngIf="
          contactForm.get('email')?.touched &&
          contactForm.get('email')?.hasError('email')
        "
      >
        Debe ser un email válido.
      </small>
    </label>

    <label>
      <span>Mensaje</span>
      <textarea
        formControlName="message"
        rows="6"
        placeholder="Escribe aquí tu mensaje"
      ></textarea>
      <small
        *ngIf="
          contactForm.get('message')?.touched &&
          contactForm.get('message')?.hasError('required')
        "
      >
        Este campo es obligatorio.
      </small>
      <small
        *ngIf="
          contactForm.get('message')?.touched &&
          contactForm.get('message')?.hasError('minWords')
        "
      >
        El mensaje debe tener al menos 5 palabras.
      </small>
    </label>

    <button type="submit" class="send-button" [disabled]="contactForm.invalid">
      Enviar mensaje
    </button>
  </form>
</div>
