<div class="about">
  <p class="sub-title">Acerca de mi</p>
  <div class="information">
    <p class="logo">Educadora convertida al mundo Tech</p>
    <p class="description">
      Soy desarrolladora junior con base Full Stack (JavaScript, Angular,
      Node.js, HTML/CSS, SQL), formada en UPGRADE HUB y actualmente en 42
      Madrid.
      Me interesa especialmente el punto de encuentro entre los datos y el
      negocio, por lo que me estoy formando de manera autodidacta en
      recolección de datos en producto digital y en cómo esa información se
      traduce en segmentación dentro del marketing.  Busco incorporarme a
      un equipo donde aportar desde el inicio esta base técnica y seguir
      creciendo en el mundo tech.
    </p>
  </div>
</div>
