<div class="about">
  <p class="sub-title">Acerca de mi</p>
  <div class="information">
    <p class="logo">Educadora convertida al mundo Tech</p>
    <p class="description">
      He finalizado una formación como Full Stack Developer y actualmente
      complemento mis conocimientos con proyectos personales y aprendizaje
      autodidacta. Mi experiencia en el ámbito educativo me ha dotado de
      habilidades transferibles clave, como la comunicación efectiva, el
      pensamiento crítico, la adaptabilidad y el trabajo en equipo.
    </p>
  </div>
</div>
