<mat-toolbar class="nav">
  <a class="logo" (click)="backHome()">
    <img class="img-logo" src="./Logo-2.png" />
  </a>
  <!-- Menú desktop -->
  <div class="menu-desktop">
    <button
      class="menu-button"
      mat-button
      (click)="goToSection('aboutSection')"
    >
      About
    </button>
    <button
      class="menu-button"
      mat-button
      (click)="goToSection('skillsSection')"
    >
      Skills
    </button>
    <button
      class="menu-button"
      mat-button
      (click)="goToSection('projectsSection')"
    >
      Projects
    </button>
    <button
      class="menu-button"
      mat-button
      (click)="goToSection('contactSection')"
    >
      Contact
    </button>
  </div>

  <!-- <span class="menu-spacer"></span> -->

  <button
    mat-icon-button
    class="menu-mobile"
    aria-label="menu-icon"
    (click)="openMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
