<mat-toolbar class="nav">
  <a class="logo">
    <img class="img-logo" src="./Logo-2.jpg" />
  </a>
  <!-- Menú desktop -->
  <div class="menu-desktop">
    <button class="menu-button" mat-button>About</button>
    <button class="menu-button" mat-button>Skills</button>
    <button class="menu-button" mat-button>Projects</button>
    <button class="menu-button" mat-button>Contact</button>
  </div>

  <!-- <span class="menu-spacer"></span> -->

  <button
    mat-icon-button
    class="menu-mobile"
    aria-label="menu-icon"
    (click)="openMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

