<div class="project-container">
  <a
    class="project"
    [href]="project()?.link"
    (click)="trackProjectVisit()"
    target="_blank"
    rel="noopener noreferrer"
  >
    <a
      [href]="project()?.link"
      class="title"
      target="_blank"
      rel="noopener noreferrer"
      >{{ project()?.title }}</a
    >
    <img [src]="project()?.img" alt="{{ project()?.title }}" class="img" />
  </a>
  <p class="description">{{ project()?.description }}</p>
  <div class="tecnologies">
    @for (tecnologie of project()?.technologies; track $index) {
      <p>{{ tecnologie }}</p>
    }
  </div>
  <a
    (click)="trackGithubProjectVisit()"
    [href]="project()?.githubLink"
    class="icon-github"
    target="_blank"
    rel="noopener noreferrer"
    ><i class="fa-brands fa-github icon"></i
  ></a>
</div>
