.project-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.534);
  border-radius: 15px;
  padding: 1rem;
  gap: 0.5rem;
  .project {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    .title {
      text-decoration: underline;
      color: #f595c5;
      font-weight: bold;
      font-size: 1rem;
      &:hover {
        font-size: 1.2rem;
      }
    }
    .img {
      border-radius: 10px;
    }
  }
  .description,
  .tecnologies {
    font-size: 0.9rem;
    text-align: justify;
  }
  .tecnologies {
    display: flex;
    gap: 0.8rem;
    font-weight: bold;
  }
  .icon-github {
    display: flex;
    font-size: 2rem;
    text-decoration: none;
    color:white;
    justify-content: end;
  }
}
