<mat-card class="home">
  <div class="img-container">
    <img
      src="/4D8675D1-37A8-4EB6-99FF-21CAEEEE88B7.jpeg"
      class="img-dev"
      alt="img-dev"
    />
  </div>

  <div class="info-dev">
    <p class="name-dev">
      Hola, soy <br />
      <span class="name-dev-rv">Rosa Vela</span>
    </p>
    <p class="rol">Junior Developer</p>
    <div class="icons">
      <a><i class="fa-brands fa-github"></i></a>
      <a> <i class="fa-brands fa-linkedin"></i> </a>
      <a> <i class="fa-solid fa-envelope"></i> </a>
    </div>
  </div>
</mat-card>
