<mat-card class="home">
  <div class="img-container">
    <img src="./foto_rosa_vela_optimized.jpeg" class="img-dev" alt="img-dev" />
  </div>

  <div class="info-dev">
    <p class="name-dev">
      Hola, soy <br />
      <span class="name-dev-rv">Rosa Vela</span>
    </p>
    <p class="rol">Junior Developer</p>
    <div class="icons">
      <a
        (click)="visitGitHub()"
        href="https://github.com/Rosymer96"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa-brands fa-github icon"></i
      ></a>
      <a
        (click)="visitLinkedIn()"
        href="https://www.linkedin.com/in/rosa-vela96/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-linkedin icon"></i>
      </a>
      <a href="#contactSection" (click)="$event.preventDefault(); goToContactSection.emit()">
        <i class="fa-solid fa-envelope icon"></i>
      </a>
    </div>
    <button class="cv-button" (click)="downloadCv()">
      Descarga mi CV
    </button>
  </div>
</mat-card>
