<mat-card class="home">
  <div class="img-container">
    <img
      src="./4D8675D1-37A8-4EB6-99FF-21CAEEEE88B7.jpeg"
      class="img-dev"
      alt="img-dev"
    />
  </div>

  <div class="info-dev">
    <p class="name-dev">
      Hola, soy <br />
      <span class="name-dev-rv">Rosa Vela</span>
    </p>
    <p class="rol">Junior Developer</p>
    <div class="icons">
      <a href="https://github.com/Rosymer96"
        ><i class="fa-brands fa-github icon"></i
      ></a>
      <a href="https://www.linkedin.com/in/rosa-vela96/">
        <i class="fa-brands fa-linkedin icon"></i>
      </a>
      <a href="#contactSection">
        <i class="fa-solid fa-envelope icon"></i>
      </a>
    </div>
    <button class="cv-button" (click)="descargarCV()">Descargar CV</button>
  </div>
</mat-card>
