.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 1000;

  .mat-sidenav-content {
    width: 100%;
  }

  .sidenav-mobile {
    display: block;

    .menu-buttons {
      display: flex;
      flex-direction: column;
      width: 45vw;
      background: black;
      height: 100%;
      padding: 1rem 0.5rem;
      gap: 1rem;
      color: white;

      button {
        all: unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1rem;
        color: white;
        background-color: black;
        text-decoration: none;
        cursor: pointer;
        padding-right: 1rem;

        &:hover {
          font-weight: bold;
        }
      }

      .close-menu {
        align-self: flex-end;
        font-size: 1rem;
        border: none;
        background: transparent;
        color: white;
        cursor: pointer;
        padding: 0;
        padding-bottom: 1rem;
      }
    }

    // Oculta el menú en pantallas grandes
    @media (min-width: 768px) {
      display: none;
    }
  }
}

// Extra: puedes ajustar botones en pantallas medianas
@media (min-width: 576px) and (max-width: 767px) {
  .sidenav-container .sidenav-mobile .menu-buttons {
    gap: 3rem;
    button {
      font-size: 1.25rem;
      padding-right: 2rem;
    }
  }
}
