<mat-sidenav-container class="sidenav-container">
  <!-- Menú móvil -->
  <mat-sidenav
    #drawer
    mode="over"
    class="sidenav-mobile"
    [(opened)]="isDrawerOpen"
    (openedChange)="onOpenedChange($event)"
  >
    <div class="menu-buttons">
      <button class="close-menu" (click)="drawer.close()">✖</button>
      <button
        mat-button
        (click)="drawer.close(); scrollToElement('aboutSection')"
      >
        About
      </button>
      <button
        mat-button
        (click)="drawer.close(); scrollToElement('skillsSection')"
      >
        Skills
      </button>
      <button
        mat-button
        (click)="drawer.close(); scrollToElement('projectsSection')"
      >
        Projects
      </button>
      <button
        mat-button
        (click)="drawer.close(); scrollToElement('contactSection')"
      >
        Contact
      </button>
    </div>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <app-header (toggleMenu)="drawer.toggle()"></app-header>
    <app-home></app-home>
    <app-about id="aboutSection"></app-about>
    <app-skills id="skillsSection"></app-skills>
    <app-projects id="projectsSection"></app-projects>
    <app-contact id="contactSection"></app-contact>
  </mat-sidenav-content>
</mat-sidenav-container>
