<mat-sidenav-container class="sidenav-container">
  <!-- Menú móvil -->
  <mat-sidenav
    #drawer
    mode="over"
    class="sidenav-mobile"
    [(opened)]="isDrawerOpen"
    (openedChange)="onOpenedChange($event)"
  >
    <div class="menu-buttons">
      <button class="close-menu" (click)="drawer.close()">✖</button>
      <button mat-button (click)="drawer.close()">About</button>
      <button mat-button (click)="drawer.close()">Skills</button>
      <button mat-button (click)="drawer.close()">Projects</button>
      <button mat-button (click)="drawer.close()">Contact</button>
    </div>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <app-header (toggleMenu)="drawer.toggle()"></app-header>
    <app-home></app-home>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-projects></app-projects>
    <app-contact></app-contact>
  </mat-sidenav-content>
</mat-sidenav-container>
