.skills-container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;
  line-height: 0.8rem;
  background-color: black;

  .sub-title {
    line-height: 1.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fabada;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 3rem; /* Aumentado un poco para margen visual */
      height: 5rem; /* Altura suficiente para logo + texto */
      text-align: center;

      .skill-logo {
        width: 100%;
        height: 4rem;
        object-fit: contain;
        margin-bottom: 0.5rem; /* Controla espacio entre imagen y texto */
      }

      p {
        margin: 0;
        font-size: 0.8rem;
      }
    }
  }
  .habi-title {
    font-size: 1rem;
    span {
      margin-left: 1rem;
      i {
        color: white;
      }
    }
  }
}
