.skills-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 0rem 2rem;
  line-height: 0.8rem;
  background-color: black;

  .sub-title {
    line-height: 1.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fabada;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 3rem; /* Aumentado un poco para margen visual */
      height: 5rem; /* Altura suficiente para logo + texto */
      text-align: center;

      .skill-logo {
        width: 100%;
        height: 4rem;
        object-fit: contain;
        margin-bottom: 0.5rem; /* Controla espacio entre imagen y texto */
        &:hover {
          transform: scale(1.1);
        }
      }

      p {
        margin: 0;
        font-size: 1rem;
      }
    }
  }
  .habi-title {
    margin: 1rem 0;
    font-size: 0.9rem;
    font-weight: bold;
    span {
      margin-left: 0.9rem;
      i {
        color: white;
      }
    }
  }
}
@media (min-width: 768px) {
  .skills-container {
    padding: 0 3rem 5rem 3rem;
    .sub-title {
      font-size: 1.5rem;
    }
    .skills {
      gap: 4.3rem;
    }

    .habi-title {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .skills-container {
    padding: 0 5rem 5rem 5rem;
    .sub-title {
      font-size: 1.6rem;
    }
    .skills {
      gap: 4.5rem;
    }
    .habi-title {
      font-size: 1.1rem;
    }
  }
}

@media (min-width: 1280px) {
  .skills-container {
    padding: 0 10rem 5rem 10rem;
    .sub-title {
      font-size: 1.8rem;
    }
    .skills {
      gap: 5rem;
      .skill {
        width: 4rem;
        height: 6rem;
      }
    }
    .habi-title {
      font-size: 1.4rem;
    }
  }
}

@media (min-width: 1536px) {
  .skills-container {
    padding: 0 20rem 5rem 12rem;
    .sub-title {
      font-size: 2rem;
    }
    .skills {
      gap: 6rem;

      .skill {
        width: 4rem;
        height: 6rem;
      }
    }
    .habi-title {
      font-size: 1.5rem;
    }
  }
}
